<section class="footer">
	<div class="container">
		<div class="row center-xs">
			<div class="col-xs-3">
				<i class="icon fab fa-linkedin-in" aria-hidden="true"></i>
			</div>
			<div class="col-xs-3">
				<i class=" icon fab fa-github" aria-hidden="true"></i>
			</div>
			<div class="col-xs-3">
				<i class="icon fab fa-twitter" aria-hidden="true"></i>
			</div>
			<div class="col-xs-3">
				<i class="icon fas fa-envelope" aria-hidden="true"></i>
			</div>
		</div>
		<div class="row center-xs">
			<h3> &copy;  All rights reserved </h3>
		</div>
	</div>
</section>