<section class="footer">
	<div class="container">
		<div class="icons row center-xs">
			<div class="col-xs-3">
				<a href="https://www.linkedin.com/in/hattemkhattab/">
					<i class="icon fab fa-linkedin-in" aria-hidden="true"></i>
				</a>
			</div>
			<div class="col-xs-3">
				<a href="https://www.github.com/hatemkhattab">
					<i class=" icon fab fa-github" aria-hidden="true"></i>
				</a>
			</div>
			<div class="col-xs-3">
				<a href="https://www.twitter.com">
					<i class="icon fab fa-twitter" aria-hidden="true"></i>
				</a>		
			</div>
			<div class="col-xs-3">
				<a href="mailto:hattemkhattab@gmail.com">
					<i class="icon fas fa-envelope" aria-hidden="true"></i>
				</a>
			</div>
		</div>
		<div class="copyright row center-xs">
			<h3> &copy;  All rights reserved </h3>
		</div>
	</div>
</section>